@model IEnumerable<TrabajoEnEquipo.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._brandCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._modelCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._yearCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._colorCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._typeCar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._brandCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._modelCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._yearCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._colorCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._typeCar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item._idCar">Edit</a> |
                <a asp-action="Details" asp-route-id="@item._idCar">Details</a> |
                <a asp-action="Delete" asp-route-id="@item._idCar">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
